

body {
    background-color: black;
    min-height: 120vh;
}

.game-container{
    display: flex;
    justify-content: center;
}

#gameBoard {
    width: 422px;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(20, 40px);
    grid-gap: 2px;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    padding: 0;
}

.cell {
    background-color: black;
}










.gameover-on {
    z-index: 1;
}

.gameover-off {
    z-index: -1;
}