

body {
    background-color: black;
    min-height: 120vh;
}

.row{
    margin: 0;
}

#instructions{
    visibility: hidden;
    position: absolute;
}

#instructions-block{
    visibility: hidden;
    position: absolute;
    color: white;
}

#gameBoard {
    width: 322px;
    max-height: 642px;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(21, 30px);
    grid-gap: 2px;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    padding: 0;
}

.cell {
    background-color: black;
}

.tetromino {
    background-color: red !important ;
}


.gameover-on {
    z-index: 1;
}

.gameover-off {
    z-index: -1;
}

.bottom-row{
    visibility: hidden;
}

#score-board{
    color: white;
}

.score{
    color: maroon;
}

@media screen and (min-width: 769px) {
    #instructions{
        visibility: visible;
        position: relative;
    }

    #nav-button{
        visibility: hidden;
    }
}

@media screen and (min-width: 1025px) {
    #instructions{
        visibility: hidden;
        position: absolute;
    }
    #instructions-block{
        visibility: visible;
        position: relative;
    }
}