

body {
    background-color: black;
    min-height: 120vh;
}


#instructions{
    visibility: hidden;
    position: absolute;
}

#gameBoard {
    width: 322px;
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(21, 30px);
    grid-gap: 2px;
    background-color: greenyellow;
    border: 2px solid greenyellow;
    padding: 0;
}

.cell {
    background-color: black;
}

.tetromino {
    background-color: red !important ;
}







.gameover-on {
    z-index: 1;
}

.gameover-off {
    z-index: -1;
}

.bottom-row{
    visibility: hidden;
}

#score-board{
    color: white;
}

.score{
    color: maroon;
}

@media screen and (min-width: 480) {
    #gameBoard{
        grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(21, 35px);
    }
}